<h1 class="subtitle"><%= @contact.first_name %> <%= @contact.last_name %></h1>
/br
/br
/br
/br

<p class="text"><strong>Email:</strong> <%= @contact.email %></p>
/br
<p class="text"><strong>Note:</strong> <%= @contact.note %></p>
/br
/br
/br
/br
/br
/br
/br
/br
/br
/br
/br
/br

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact">
</form>
